DEEPSEEK_API_KEY=your_deepseek_api_key_here
MODEL_API_MAX_CONCURRENCY=2
MODEL_API_GLOBAL_REQUESTS=12
MODEL_API_CLIENT_REQUESTS=4
MODEL_API_RATE_WINDOW_SECONDS=60
MODEL_API_AUTH_REQUIRED=false
MODEL_API_ACCESS_TOKEN=
